/* Body */
body {
  background-color: #17242b;
  color: #ffffff;
}
::-webkit-scrollbar-track {
  background: #0e1c24;
}
/* Reuseable */
.para-size {
  color: #c9c9c9;
}
/* Navbar */
.navbar {
  background-color: #17242b;
}
.navbar-brand {
  color: #ffffff;
}
.navbar-brand:hover {
  color: #ffffff;
}
.navbar-brand span {
  color: #ff033f;
}
.nav-link {
  color: #ffffff;
}
.nav-link.active {
  color: #ff033f;
}
.nav-link:hover {
  color: #ff033f;
}
.dark-light i {
  background-color: #ffffff;
  color: #ff033f;
}
.sidenav {
  background-color: #0e1c24;
}
@media (max-width: 991px) {
  .nav-link {
    color: #ffffff;
  }
}
/* Hero */
#hero-section h1 span {
  color: #ff033f;
}
/* About */
.button {
  background-color: #ff033f;
  color: #ffffff;
}
.button:hover {
  color: #ffffff;
}
/* Contact */
.email a,
.phone a {
  color: #ff033f;
}
.send-msg-box {
  box-shadow: 0px 3px 10px #0000005b;
}
form input,
form textarea {
  box-shadow: 0px 3px 10px #0000005b;
  color: #ffffff;
}
