/* ================ */
/* Basic */
/* ================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
button:focus,
input:focus,
a:focus,
i:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff033f;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}
/* ================ */
/* Reuseable */
/* ================ */
.section {
  padding: 5rem 0;
}
.heading {
  font-size: 4rem;
  font-family: "Vesper Libre", serif;
}
.para-size {
  font-size: 1.6rem;
}
.button {
  font-size: 1.6rem;
  padding: 1rem 3.5rem;
  text-decoration: none;
  border-radius: 2.8rem;
  -webkit-border-radius: 2.8rem;
  -moz-border-radius: 2.8rem;
  -ms-border-radius: 2.8rem;
  -o-border-radius: 2.8rem;
  box-shadow: 0 6px 10px #ff033e2d;
  position: relative;
  width: 200px;
  display: inline-block;
  text-align: center;
}
.button:hover {
  box-shadow: none;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  font-size: 25px;
  vertical-align: top;
  opacity: 0;
  top: -9.7px;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* ================ */
/* Header */
/* ================ */
.navbar-space {
  padding: 6rem 0;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 9999;
}
.navbar-brand {
  font-family: "Vesper Libre", serif;
  font-size: 4rem;
  font-weight: 500;
}
.nav-link {
  font-size: 1.6rem;
  margin: 0 2rem;
}
.nav-link:last-child {
  margin-right: 0;
}
.dark-light {
  background-color: transparent;
  margin-top: -0.7rem;
}
.dark-light i {
  padding: 1rem 1.1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block !important;
  font-weight: 600;
}
/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav {
  white-space: nowrap;
}
.closebtn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: #ff033f;
}
.closebtn i {
  font-size: 2.5rem;
}
.closebtn i:hover {
  color: #ff033ede;
}
/* ================ */
/* Hero */
/* ================ */
#hero-section h1 {
  font-size: 5rem;
}
#hero-section h1 span {
  font-family: "Vesper Libre", serif;
}
#hero-section img {
  animation: updown-btn 5s infinite;
  -webkit-animation: updown-btn 5s infinite;
}
/* ================ */
/* About */
/* ================ */
.perform-box {
  background-color: #ff033f;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.perform-box h3 {
  color: #ffffff;
  font-size: 2rem;
}
.perform-box p {
  color: #ffffff;
}

/* ================ */
/* Team */
/* ================ */
.img-overlay {
  opacity: 0;
  z-index: 2;
  background: #ff033f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.team-img-box:hover .img-overlay {
  opacity: 1;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.overlay-text h3 {
  transform: translateY(2rem);
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transform: translateY(2rem);
  -moz-transform: translateY(2rem);
  -ms-transform: translateY(2rem);
  -o-transform: translateY(2rem);
  font-size: 2rem;
  color: #ffffff;
}
.overlay-text p {
  transform: translateY(3.5rem);
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transform: translateY(3.5rem);
  -moz-transform: translateY(3.5rem);
  -ms-transform: translateY(3.5rem);
  -o-transform: translateY(3.5rem);
  color: rgb(255, 255, 255);
}
.team-img-box:hover .overlay-text h3,
.team-img-box:hover .overlay-text p {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
/* ================ */
/* Contact */
/* ================ */
.send-msg-box {
  border-radius: 16px;
  padding: 2rem;
}
form input,
form textarea {
  border-radius: 16px;
  border: none !important;
  padding: 15px;
  color: #ffffff;
  font-size: 1.6rem;
  background-color: transparent;
}
textarea:focus {
  outline: none !important;
}
/* ================ */
/* Footer */
/* ================ */
footer {
  background-color: #17242b;
}
.footer-social-icon i {
  color: #ffff;
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: transparent;
  border: 1px solid #ffffff;
  font-size: 13px;
  margin-right: 1rem;
}
.footer-social-icon i:hover {
  color: #17242b;
  background: #fff;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.footer-sub-heading {
  font-size: 2.5rem;
  color: #ffffff;
  font-family: "Vesper Libre", serif;
  font-weight: 500;
}
.footer-link p a,
.footer-contact p {
  color: #ffffff;
  display: block;
  margin-top: 10px;
  font-size: 1.6rem;
  text-decoration: none;
}
.footer-link p a:hover,
.footer-contact p:hover,
.footer-copyright a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer-copyright {
  border-top: 1px solid #ffffff;
  font-size: 1.6rem;
}
.footer-copyright a {
  text-decoration: none;
}
.footer-border-end-default {
  position: relative;
}
.footer-border-end-default::after {
  position: absolute;
  content: "";
  height: 80%;
  width: 0.1rem;
  background-color: #ffffff;
  right: -12%;
  top: 50%;
  transform: translateY(-50%);
}
/* Animation */
@keyframes updown-btn {
  0% {
    transform: translateY(-10px);
  }

  25% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  75% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}
